@model BazaAudyt.Models.PodsumowanieWyniku

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PodsumowanieWyniku</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCzesci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCzesci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataWykonania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataWykonania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAudytowanego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAudytowanego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAudytu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAudytu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komentarz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentarz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Audytowany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Audytowany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rozpoczety)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rozpoczety)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
