@model BazaAudyt.Models.AudytyWidok

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AudytyWidok</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudytorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudytorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Towarzyszacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Towarzyszacy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stanowisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stanowisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPlanowana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPlanowana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObszarAudytu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObszarAudytu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamkniecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamkniecia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozycja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wydzial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wydzial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brygada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brygada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Audytowany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Audytowany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komentarz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentarz)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
