@model BazaAudyt.Models.LPA_PlanAudytow

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń zaplanowany audyt</h1>

<h3>Czy na pewno chcesz skasować ten audyt?</h3>
<div>
    <h4>Audyt</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudytorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Towarzyszacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Towarzyszacy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stanowisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stanowisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPlanowana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPlanowana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObszarAudytu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObszarAudytu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamkniecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamkniecia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozycja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wydzial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wydzial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brygada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brygada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Audytowany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Audytowany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komentarz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentarz)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
