@model IEnumerable<BazaAudyt.Models.CzlonkowieZespolu>

@{
    ViewData["Title"] = "Index";
}

<h1>Użytkownicy</h1>

<p>
    <a asp-action="Create">Dodaj nowego użytkownika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicjaly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzyAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warstwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzyAudytor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Inicjaly)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CzyAdmin)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Warstwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzyAudytor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
