@model IEnumerable<BazaAudyt.Models.LPA_Wyniki>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pytanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wynik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAudytu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentarz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wartosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uwagi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pytanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wynik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAudytu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentarz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wartosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uwagi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
