@model List<BazaAudyt.Models.LPA_Wyniki>
@{
    ViewData["Title"] = "Edytuj wyniki dla audytu " + ViewBag.AudytId;
}

<h2>Edytuj wyniki dla audytu @ViewBag.AudytId</h2>

<form asp-action="ZapiszWynikiDlaAudytu" method="post">
    <input type="hidden" name="audytId" value="@ViewBag.AudytId" />

    <table class="table">
        <thead>
            <tr>
                <th>Pytanie</th>
                <th>Wynik</th>
                <th>Komentarz</th>
                <th>Wartość</th>
                <th>Uwagi</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                    <tr>
                        <td>
                        @Model[i].PytanieNavigation?.Pytanie
                            <input type="hidden" name="model[@i].Id" value="@Model[i].Id" />
                        </td>
                        <td><input type="text" name="model[@i].Wynik" value="@Model[i].Wynik" class="form-control" /></td>
                        <td><input type="text" name="model[@i].Komentarz" value="@Model[i].Komentarz" class="form-control" /></td>
                        <td><input type="number" name="model[@i].Wartosc" value="@Model[i].Wartosc" class="form-control" /></td>
                        <td><input type="text" name="model[@i].Uwagi" value="@Model[i].Uwagi" class="form-control" /></td>
                    </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Zapisz</button>
    <a asp-controller="Audyty" asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
